.navbar-main {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(30, 30, 46, 0.9); /* Mocha Base with opacity */
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--ctp-surface0);
  padding: 0.75rem 0;
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--ctp-text);
  text-decoration: none;
  letter-spacing: -0.5px;
  font-family: 'Space Mono', monospace;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.brand-logo span {
  color: var(--ctp-mauve);
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav-link {
  color: var(--ctp-subtext1);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: var(--ctp-mauve);
}

/* .nav-divider {
  width: 1px;
  height: 20px;
  background-color: var(--ctp-surface1);
  margin: 0 0.5rem;
} */

.navbar-auths {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.sign-in {
  color: var(--ctp-subtext1);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.sign-in:hover {
  color: var(--ctp-mauve);
  background-color: var(--ctp-surface0);
}

/* Specific Auth Button Styles */
/* .auth-btn-primary {
  background-color: var(--ctp-mauve);
  color: var(--ctp-base) !important;
  padding: 0.5rem 1.25rem;
  border-radius: 0.75rem;
}

.auth-btn-primary:hover {
  transform: scale(1.05);
} */

.auth-btn-secondary {
  font-size: 0.875rem;
  border: 1px solid var(--ctp-surface1);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--ctp-base);
}

.auth-btn-secondary:hover {
  color: var(--ctp-mauve);
  background-color: var(--ctp-mantle);
  border-color: var(--ctp-mauve);
  transform: scale(1.05);
}

.user-badge {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  /* Add a 'system prefix' look */
  &::before {
    content: "user:";
    color: var(--ctp-overlay1);
    margin-right: 4px;
  }
}

.user-badge:hover {
  color: var(--ctp-mauve);
}

.nav-link.active-state, 
.user-badge.active-state {
  color: var(--ctp-mauve);
  background-color: #313244;
  border-bottom: 1px solid var(--ctp-mauve);
}

body:has(turbo-frame#main_content[src$="/app"]) .nav-dashboard,
body:has(turbo-frame#main_content[src$="/app/"]) .nav-dashboard {
  color: var(--ctp-mauve);
}

body:has(turbo-frame#main_content[src*="/plan"]) .nav-plan {
  color: var(--ctp-mauve);
  border-bottom: 1px solid var(--ctp-mauve);
}

body:has(turbo-frame#main_content[src*="/inventory"]) .nav-inventory {
  color: var(--ctp-mauve);
  border-bottom: 1px solid var(--ctp-mauve);
}