.config-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
  max-height: inherit;
  padding: 2rem;
}

.config-header {
  flex-shrink: 0;
}

.rarity-stars {
  font-size: 1.5rem;
  color: var(--ctp-peach);
}

.config-subtitle {
  font-size: 0.875rem;
  color: var(--ctp-subtext0);
  text-transform: uppercase;
  font-weight: bold;
}

#plan-form-frame {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
}
