.error-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(243, 139, 168, 0.2);
  border: 1px solid var(--ctp-red);
  color: var(--ctp-red);
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.error-list {
  list-style-type: disc;
  margin-left: 1.25rem;
  font-size: 0.75rem;
}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.stat-section {
  background: var(--ctp-mantle);
  border-radius: 0.5rem;
  padding: 0.875rem;
  text-align: center;
  border: 1px solid var(--ctp-surface0);
}

.stat-label {
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--ctp-text);
  font-weight: 900;
  margin-bottom: 0.75rem;
}

.stat-input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

/* Remove arrows/spinners from number inputs */
.stat-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  width: 100%;
  background-color: var(--ctp-mantle);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

/* Focus State (Mauve Glow) */
.stat-input:focus-within {
  border-bottom-color: var(--ctp-mauve);
}

#plan-form-frame {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#plan-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.form-actions-sticky {
  position: sticky;
  bottom: 0;
  
  padding: 1rem;
  margin-top: 1rem; 
  width: 100%;
  
  background-color: var(--ctp-base);
  border-top: 1px solid var(--ctp-surface0);
}

.form-submit-btn {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
  font-weight: bold;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;

  box-shadow: 0 10px 15px -3px rgba(17, 17, 27, 0.2);
  transition: all 0.2s ease-in-out;
}

.form-submit-btn:hover {
  background-color: var(--ctp-mauve);
  color: var(--ctp-base);
  transform: translateY(-1px);
}

.form-submit-btn:active {
  transform: translateY(0px);
  box-shadow: 0 4px 6px -1px rgba(17, 17, 27, 0.2);
}
