.planner-container {
  background: var(--ctp-base);
  padding: 2rem;
  width: 100%;
  border: 2px solid var(--ctp-surface0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.planner-header {
  margin: 2rem auto;
}

.planner-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.planner-subtitle {
  color: var(--ctp-subtext0);
  text-align: center;
}

.new-plan-btn {
  max-width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--ctp-crust);
  padding: 1rem 1.25rem;
  border-radius: 0.75rem;
  border: 2px solid var(--ctp-mauve);
  cursor: pointer;
}

.new-plan-btn:hover {
  background-color: var(--ctp-mauve);
  color: var(--ctp-base);
}

#plans-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  #plans-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.star-5 {
  /* color: #f4c701; */
  color: var(--ctp-peach);
}

.star-4 {
  /* color: #b778d8; */
  color: var(--ctp-lavender)
}
