.planner-container {
  display: flex;
  flex-direction: column;
}

.planner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.planner-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.planner-subtitle {
  font-size: 1rem;
  color: var(--ctp-subtext0);
  text-align: center;
}

.new-plan-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: fit-content;
  
  font-weight: 600;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  background-color: var(--ctp-crust);
  color: var(--ctp-text);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--ctp-surface1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.new-plan-btn:hover {
  background-color: var(--ctp-mantle);
  border-color: var(--ctp-mauve);
  color: var(--ctp-mauve);
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}


#plans-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  #plans-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.star-5 {
  /* color: #f4c701; */
  color: var(--ctp-peach);
}

.star-4 {
  /* color: #b778d8; */
  color: var(--ctp-lavender)
}
