<div class="about-container">
  <h2 class="about-title">About WuwaPlanner</h2>
  
  <div class="about-content">
    <p class="about-text">
      WuwaPlanner is a specialized tool designed for players to calculate the exact materials needed to 
      ascend Resonators and upgrade their skill levels and forte upgrades. It also includes Weapon ascension planner.
    </p>

    <h3 class="about-subtitle">How it works</h3>
    <ul class="about-list">
      <li><strong>Leveling:</strong> Calculates EXP required and converts it into Resonance Potions.</li>
      <li><strong>Ascension:</strong> Tracks Shell Credits and specific ascension materials based on rank.</li>
      <li><strong>Skills:</strong> Breaks down costs for every skill node and forte upgrades.</li>
    </ul>

    <div class="about-disclaimer">
      <p>This is a fan-made project and is not affiliated with Kuro Games.</p>
    </div>
  </div>

  <div class="auth-links">
    <%= link_to "← Back to Home", root_path %>
  </div>
</div>

<div class="about-status">
  <h1 class="font-bold text-4xl text-ctp-lavender mb-2">Current Progress</h1>
  <br>
  <p>I'm cooking up an app...</p>
  <p>—> Database and Seed data done.</p>
  <p>—>
    <code>ResonatorAscensionPlanner</code>
    service created.</p>
  <p>—>
    <code>WeaponAscensionPlanner</code>
    service created.</p>
  <p>—> Planner User Interface done.</p>
  <p>—> Polish user interface styling.</p>
  <p>—>
    <span class="text-ctp-red">Errors</span>
    and
    <span class="text-ctp-green">Validations</span>
    done.</p>
  <p>—> Sync plans by signing up banner added.</p>
  <p>—> Added <code>User</code> authentication and data merge</p>
  <p>—> User dashboard with news and account settings added.</p>
  <p class="text-ctp-yellow">—> Fixing several bugs and improving user experience.</p>
</div>