<div
  class="
    home-text flex flex-col p-16 border-4 border-ctp-mauve text-ctp-text rounded-2xl
    m-auto my-20 gap-1 bg-ctp-mantle shadow-2xl
  "
>
  <div class="mb-10">
    <h1 class="font-bold text-4xl text-ctp-red mb-2">Hello, World!</h1>
    <br>
    <p>I'm cooking up an app...</p>
    <p>—> Database and Seed done.</p>
    <p>—>
      <code>ResonatorAscensionPlanner</code>
      service done.</p>
    <p>—>
      <code>WeaponAscensionPlanner</code>
      service done.</p>
    <p>—> Planner User Interface done.</p>
    <p>—> Polish UI Styling done.</p>
  </div>

  <div class="text-ctp-mauve font-bold text-lg">
    <%= link_to "GOTO: Wuthering Waves Resource Planner", plans_path %>
  </div>

</div>
