<%# locals: (materials_summary:) %>

<div id="materials-summary-content">
  <% if materials_summary.any? %>
    <div class="materials-list">
      <% materials_summary.each do |material, qty| %>
        <div class="material-badge">
          <span class="mat-name"><%= material %></span>
          <span class="mat-qty">x<%= number_with_delimiter(qty) %></span>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="empty-text">No plans created yet.</p>
  <% end %>
</div>