<%# locals: (plan:, subject:, subject_type:, errors: nil) %>

<div class="config-container">
  <header class="modal-header">
    <div class="config-header">
      <div class="config-title">
        <%= subject.name %>
        <span class="rarity-5 text-2xl">
          <%= subject.rarity == 5 ? "★★★★★" : "★★★★" %>
        </span>
        
      </div>

      <p class="config-subtitle">
        CONFIGURE <%= subject_type.upcase %> PLAN
      </p>
    </div>
  </header>

  <div id="plan-form-frame" class="custom-scrollbar">
    <%= render "form", plan: plan, subject: subject, subject_type: subject_type, errors: errors %>
  </div>
</div>
