<%# locals: (plan:, subject:, subject_type:, errors: nil) %>

<div class="config-container">
  <header class="config-header">
    <div>
      <h2 class="modal-title">
        <%= subject.name %>
        <span class="rarity-stars">
          <%= subject.rarity == 5 ? "*****" : "****" %>
        </span>
      </h2>
      <p class="config-subtitle">Configure
        <%= subject_type %>
        Plan</p>
    </div>
  </header>

  <div id="plan-form-frame" class="custom-scrollbar">
    <%= render "form", plan: plan, subject: subject, subject_type: subject_type, errors: errors %>
  </div>
</div>
