<div id="sync-banner-container">
  <%= render "plans/sync_banner", plans: @plans %>
</div>

<div class="planner-container">
  <div class="planner-header">
    <h1 class="planner-title">Resource Planner</h1>
    <h2 class="planner-subtitle">Your definitive shopping list for Resonator and Weapon ascension, level,
      skill, and forte upgrade materials!</h2>
  </div>

  <%= link_to "✚ New Plan",
  new_plan_path(step: 1),
  data: {
    turbo_frame: "modal",
  },
  class: "new-plan-btn transition-all" %>

  <div id="plans-list-container">
    <turbo-frame id="plans-list">
      <%= render @plans %>
    </turbo-frame>
  </div>
</div>
