<div id="sync-banner-container">
  <%= render "plans/sync_banner", plans: @plans %>
</div>

<section class="materials-accordion">
  <details class="group">
    <summary class="accordion-header">
      <div class="header-content">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-ctp-text" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
        </svg>
        <span class="header-title">Material Summary</span>
      </div>
      
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-ctp-text transition-transform group-open:rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <%= render "plans/materials_summary", materials_summary: @materials_summary %>

  </details>
</section>

<div class="planner-container">
  <div class="planner-header">
    <h1 class="planner-title">Resource Planner</h1>
    <h2 class="planner-subtitle">Your definitive shopping list for Resonator and Weapon ascension, level,
      skill, and forte upgrade materials!</h2>
  </div>

  <%= link_to "✚ New Plan",
  new_plan_path(step: 1),
  data: {
    turbo_frame: "modal",
  },
  class: "new-plan-btn transition-all" %>

  <div id="plans-list-container">
    <turbo-frame id="plans-list">
      <%= render @plans %>
    </turbo-frame>
  </div>
</div>
