<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal" data-action="keydown.esc->modal#close">
    <div>
      <%# Close Button %>
      <button data-action="click->modal#close">✕</button>

      <div id="modal-step-content">
        <%# This part swaps based on the step %>
        <%= render "step_#{@step}",
        step: @step,
        plan_type: @plan_type,
        item: @item,
        items: @items %>
      </div>
    </div>
  </div>
<% end %>
